.container {
    padding: 3rem;
}

.title__container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 1.5rem;
    }

    .title__container {
        flex-direction: column;
        gap: 2rem;
    }
}
